.resumenContainer{
  width:100%;
  height: 100vh;
}
.h3{
  margin: 0;
  line-height: 1.3em;
}
.photo{
  margin-right: 100px;
}

.ul1{
  font-size: 16px;
}
.ul2{
  list-style-type: none;
}
.ul2 li{
  margin-top: 20px;
}
.ul2 li h2{
  display: inline;
}
.ul2 li::before{
  width: 1.2em;
  scale: 2;
  content: '•';
  display: inline-block;
  margin-left: -1em;
  color: #ebb200;
}
.overlay{
  padding: 5px;
  margin: 15px 0;
}
.overlay p{
  margin: 0;
  font-size: 14px;
}