header{
  height: 100vh;
}

.c-00194c { color: #00194c }
.c-014067 { color: #014067 }
.c-3f3f3f { color: #3f3f3f }
.c-746b62 { color: #746b62 }

h1{
  font: 700 41px 'Open Sans', sans-serif;
}
h2{
  font: 500 28px 'Open Sans', sans-serif;
}
h3{
  font: 700 22px 'Open Sans', sans-serif;
}


.mainSections{
  margin:100px 0;
}
section#alcance{
  margin: 0;
}